{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Décontracté de la chaussette</h1>
    </header>
    <main>
        {% block contenu %}{% endblock %}
    </main>

{% endblock %}
